body {
  color: #40514E;
  background: #eef2f5;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  font-size: 5.625rem;
  margin-top: 50px auto 0 auto;
  /*font-family: 'Charm', cursive;*/
  font-family: 'Petit Formal Script', cursive;
  color: #eef2f5;
  /*line-height: 2;*/
}
h6{
  font-size: 2.5rem;
  color: #eef2f5;
}
h2{
  font-size: 2.5rem;
  font-family: 'Barlow', sans-serif;
  color: #66BFBF;
  font-weight: normal;
  padding-bottom: 10px;
}
h3{
  font-family: 'Barlow', sans-serif;
  color: #11999B;
}

p{
  line-height: 2; /*the gap between lines*/
}

hr{
  border: dotted #acdbdf 8px;
  border-bottom: none; /*single dotted*/
  width: 2%;
  margin: 100px auto;
}

a{
  color: #11999B;

  font-family: 'Barlow', sans-serif;
  font-size: 1.25rem;
  margin: 15px 15px;
  text-decoration: none;
}

a:hover{
  color: #EAF6F6;
}

.top-container {
  background: url('../images/tarkxankut.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  /*position: relative;*/
  padding-top: 100px;
}

.middle-container {
  margin: 100px 0;
}


.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}



.intro{
  width: 30%; /*Instead of one wide line of text*/
  margin: auto; /*to center*/
}

.skill-row{
  width: 50%;
  margin: 100px auto 100px auto; /*to make more space from top and bottom and center*/
  text-align: left;
}

.experience-image{
  width: 20%; /*to make image 25% of its its parent (skill-row)*/
  float: left; /*to wrap the image*/
  margin-right: 30px;
}

.education-image{
  width: 20%; /*to make image 25% of its parent (skill-row)*/
  float: right; /*to wrap the image*/
  margin-left: 30px;
}

.skill-row{
  width: 50%;
  margin: 100px auto 100px auto; /*to make more space from top and bottom and center*/
  text-align: left;
}

.contact-me-row{
  width: 50%;
  margin: 40px auto 60px; /*to make more space from top and bottom and center*/
  text-align: left;
}

.contacts-image{
  width: 20%; /*to make image 25% of its its parent (skill-row)*/
  float: left; /*to wrap the image*/
  margin-right: 30px;
}

.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Barlow', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
